/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
CSS RESET CODE*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* my css code*/
html {
        background-color: #020659;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
        width: 375px;
        margin: 0 auto;
        background-color: #ffffff;
}
header{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background-image: linear-gradient(75deg, rgb(33 4 217 / 100%) 7%, rgb(0 0 0 / 100%) 60%);
        color:#ffffff;
}
nav{
        grid-row-start: 1;
        grid-row-end: 2;
        background-color:#020873;       
}   
h1{
    font-size:1.25em;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
p{
    padding: 10px 20px 20px 10px;
}
nav h2{
    display: none;
}
h2 h3 {
    text-transform: uppercase;
}
a{
    font-size: 15px;
    color:#ffffff;
    font-weight: bold;
    text-decoration: none;
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.trending{
    color:#590242;
}
.trending h2{
    text-transform: uppercase;
    color:#590242;
    background:#ffffff;
    font-weight: bold;
}
.trending h3{
    text-transform: uppercase;
    color:#590242;
    font-weight: bold;
}
.trending a{
    width: 70px;
    height: 20px;
    color:#ffffff;
    background: #590242;
    text-decoration: none;
    padding:10px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    float:right;
    clear:right;
}
.trending audio{
    margin:15px 15px 15px 15px;
    border-radius: 30px 30px 30px 30px;
}
.scroll{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section{
    margin: 10px;
    position: relative;
}
.scroll div{
    position:absolute;
    top: 251px;
    background-color: lightgray;
    padding: 5px;
    height: 50px;
    width: 350px;
}
dl{
    display:flex;
}
dt{
    padding-right: 5px;
}
audio{
    position:absolute;
    bottom: 150px;
    left: 5px;
}
.playlists{
    display:inline-flex;
    background-color:#2699FB;
}
.playlists h2{
    display:flex;
    text-transform: uppercase;
    color:#590242;
    background: #ffffff;
    font-weight: bold;
}
.playlists h3{
    text-transform:uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align:center;
    margin-bottom:10px;
    margin-top:30px;
}
.playlists p{
    color:#ffffff;
    text-align:center;
}
.playlists img{
    float:left;
    margin:20px;
    position:static;
    clear:both;
}
.playlists a{
    width: 70px;
    height: 20px;
    color:#ffffff;
    background: #590242;
    padding:10px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
.scroll{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.curated{
    display:inline-flex;
    background-color:#020873;
}
.curated a{
    width: 70px;
    height: 20px;
    color:#ffffff;
    background: #590242;
    margin-top:400px;
    padding:10px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    float:inline-end;
}
.curated img{
    float:left;
    margin:20px;
    position:static;
    clear:both;
}
.curated h2{
    text-transform: uppercase;
    color:#590242;
    background:#ffffff;
    font-weight: bold;
    text-align:left;
}
.curated h3{
    text-transform:uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align:center;
    margin-bottom:10px;
    margin-top:30px;
}
.curated p{
    color:#ffffff;
    text-align:center;
}

footer p{
    text-align: center;
    color:#590242;
}
    label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
    label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
    label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
    label span:before {
    top: 5px;
}
    label span:after {
    top: -5px;
}
    input {
    display: none;
}
    input:checked ~ ul {
    max-height: 500px;
}
    input:checked ~ label span {
    background: transparent;
}
    input:checked ~ label span:before {
    transform: rotate(-45deg);
}
    input:checked ~ label span:after {
    transform: rotate(45deg);
}
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

    /*scroll bars
#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}
*/

@media screen and (min-width:834px){
    body{
        width: 834px;
    }
    nav a{
        color:#ffffff;
    }
    ul{
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 10px;
    }
    label span, input{
        display: none;
    }
    nav li .home{
        display:inline;
        position: absolute;
    }
    h1{
        font-size:1.25em;
        font-weight: bold;
        text-transform: uppercase;
    }
    .trending h2{
        text-transform: uppercase;
        color:#590242;
        text-transform: bold;
    }
    .playlists{
        display: flex;
    }
    .curated{
        display: inline-flex;
    }
    .curated p{
        color:#ffffff;
        text-align:center;
    }
    h2 h3{
        font-size: 1em;
    }
    p dl dd{
        font-size: 1em;
    }
    footer p{
        font-size: .75em;
    }
}
/*audio*/
audio::-webkit-media-controls-mute-button {

}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-enclosure {

}

